@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 1280px;
  color: #333333;
}

.nav{
  display: flex;
  justify-content: center;
}

.nav-box{
  display: flex;
  justify-content: flex-start;
  width: 100rem;
}

.nav-item{
  display: flex;
  width: auto;
  justify-content: flex-start;
  margin: .2rem;
}

.nav-tag{
  text-decoration: none;
  color: black;
  margin: .1rem .5rem;
}