/* 아래에 CSS를 작성해주세요. */
.image{
  text-align: center;
}
.card{
  width: 300px;
  height: 450px;
  text-align: center;
}
.card-image{
  width: 95%;
}
.company{
  color: gray;
  font-size: 12px;
  text-align: left;
  margin: 3px 15px
}
.product-name{
  color:black;
  font-size: 12px;
  text-align: left;
  margin: 3px 15px
}
.sale{
  color:skyblue;
  font-size: 16px;
  text-align: left;
  margin: 3px 15px
}
.cost{
  color:black;
}
.star{
  font-size: 13px;
  text-align: left;
  margin: 3px 15px
}
.review{
  color:gray;
}