<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>fake google 검색앱</h1>
  <form action="https://google.com./search">
    검색어: <input type="text" name="q">
    <input type="submit">
  </form>

  <h1>fake naver 검색앱</h1>
  <form action="https://search.naver.com/search.naver">
    검색어: <input type="text" name="query">
    <input type="submit">
  </form>

  <h1>fake youtube 검색앱</h1>
  <form action="https://youtube.com/results">
    검색어: <input type="text" name="search_query">
    <input type="submit">
  </form>

</body>
</html>